@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }
@font-face {
  font-family: "VAGRound";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/VAGRound/VAGRound.eot?#iefix") format("embedded-opentype"), url("../fonts/VAGRound/VAGRound.woff") format("woff"), url("../fonts/VAGRound/VAGRound.ttf") format("truetype"); }

/*# sourceMappingURL=fonts.css.map */
