/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.services .serv_item {
	width: 33.333333%;
}
.search {
	float: left;
}
.slider .slide_content h1 {
	font-size: 50px;
}

.slider .slide_content {
	padding: 60px 0 80px 80px;
}

.main_nav {
	margin: 0;
}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.services .serv_item {
	width: 50%;
}

.slider .slide_content h1 {
	font-size: 35px;
}

.slider .slide_content {
	padding: 60px 0 80px 40px;
}
.slider .slide_content p {
	width: 100%;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.services .serv_item {
	width: 100%;
}
.slider .slide_content h1 {
	font-size: 30px;
}
.services .serv_item {
	background-position: 10% 35%;
}
.services .serv_item a {
	padding: 40px 0 40px 80px;
}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.container	{
	width: 960px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}